# Ignore Python virtual environments
myenv/

.DS_Store

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore .pth files
*.pth


# Ignore dataset
acousticbrainz-highlevel-json-20220623
dataset/
*.csv
test/

# Ignore workspace
MoodySound2.code-workspace


# Ignore experiments
training_process.txt
k_fold_training_process.txt

# Ignore .env file
.env

# Ignore old training script
linear_regression_model/train.py
*.pkl