# Ignore Python virtual environments
myenv/

.DS_Store

# Ignore compiled Python files
__pycache__/
*.pyc


# Ignore dataset
acousticbrainz-highlevel-json-20220623
dataset/
*.csv

# Ignore workspace
MoodySound2.code-workspace


# Ignore experiments
training_process.txt
k_fold_training_process.txt

# Ignore .env file
.env